<div class="container div-error-acceso">
  <div>
    <div class="">
      <div class="">
          <div>
            <div class="">
              <div class="" style="padding-top: 40px; padding-bottom: 55px;">
                <span><img class="imagen-error-acceso" src="../../../assets/img/logo.png" width="250px" alt="Logo"></span>
              </div>
              <h6 class="title-error" style="font-size: 54px !important;">¡Lo sentimos!</h6>
              <br>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
